<a href="https://colab.research.google.com/github/beamknight1/dsb-batch10/blob/main/Python_Programming_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Hello World

Basic `Python` for Data Analyst (Beginner)

```python
# code
```

### 5 Foundations for **coding**
- variable
- data type
- data structure
- control flow
- function

In [ ]:
## basic calculation
print(1+1)
print(3*2)
print((2+5)*23/8)

2
6
20.125

In [ ]:
## floor division
9//4 # we use //

2

In [ ]:
## modulo
5 % 5

0

In [ ]:
## fucntion for calculation
pow(5,3)
print(5**4)

625

In [ ]:
## variable
x = 100
y = 2
pow(x, y)

10000

In [ ]:
my_university_name = "Chulalongkorn"

In [ ]:
my_university_name

'Chulalongkorn'

In [ ]:
## Keywords in Python are in purple
del my_university_name

In [ ]:
## Replace value
x = 100
x = 150
print(x)

150

In [ ]:
## Declare multiple variables
x, y, z = 1, 2, 3
print(x,y,z)

1 2 3

In [ ]:
## R for small data, prototyping
## Python for large data, software, data science, AI, app

## R is a statistical language (specialist) vs. Python is a general language (generalist)

In [ ]:
## variable
my_name = "Beam"
age = 27
friends = ["Mix", "Chato", "Mek"] ## list which can be updated value
fav_food = ("sushi", "udon") ## tuple which cannot be updated value

In [ ]:
friends[0] = "Tuchapol"

In [ ]:
friends[0] = "Mix"

In [ ]:
friends

['Mix', 'Chato', 'Mek']

In [ ]:
## data types
## int, float, str, bool
age = 27
type(age)

int

In [ ]:
gpa = 3.76
type(gpa)

float

In [ ]:
name = "Beam"
type(name)

str

In [ ]:
result = age < 40
print(result, type(result))

True <class 'bool'>

In [ ]:
## convert type
float(age)
str(age)
int(result)

1

## **Working with String**

In [ ]:
## fstring => format string
name = "Beam"
gpa = 3.76
text = f"{name} graduates from CU with gpa {gpa}."
print(text)

Beam graduates from CU with gpa 3.76.

In [ ]:
## long string with triple quote
long_str = """
I love Mcdonald's
Planning to have it for Lunch
Very Cool!
"""

In [ ]:
long_str

"\nI love Mcdonald's\nPlanning to have it for Lunch\nVery Cool!\n"

In [ ]:
## function vs. method
text = "A duck walks into a bar"
len(text)
print(text)

A duck walks into a bar

In [ ]:
## method is a function created specificly to an object
## string method
text.replace("duck", "lion")

'A lion walks into a bar'

In [ ]:
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.count("A")

1

In [ ]:
text.split()

['A', 'duck', 'walks', 'into', 'a', 'bar']

In [ ]:
"strawberry".count("r")

3

In [ ]:
text = text.replace("duck", "lion")
text

'A lion walks into a bar'

In [ ]:
result = text.split()

In [ ]:
" ".join(result)
print(text)

A lion walks into a bar

In [ ]:
## index start from 0
text = "python"
text[0]
text[-1]

'n'

In [ ]:
## slice text
text[0:3]

'pyt'

In [ ]:
## text + text
("Python" + " is awesome" + " and I love it.")[5:]

'n is awesome and I love it.'

In [ ]:
"hello" * 3

'hellohellohello'

In [ ]:
"My name is Beam"[::-1]

'maeB si eman yM'

In [ ]:
"I am learning python today"[0:15:2] ## start at position 0 and stop at pos 14 (15-1) step every two string

'Ia erigp'

In [ ]:
## String is immutable
text = "Python"
print("C"+ text[1:]) ## we use text + text and slice to create new text

Cython

## **Data Structures**

1. List
2. Tuple
3. Dictionary
4. Set

In [ ]:
## list, ordered, mutable object
shopping_list = ["milk", "egg", "bread", "butter"]

In [ ]:
shopping_list[1] = "eggs"

In [ ]:
shopping_list

['milk', 'eggs', 'bread', 'butter']

In [ ]:
## list method
shopping_list.append("cheese")
shopping_list.remove("cheese")

In [ ]:
shopping_list.remove("cheese")

In [ ]:
shopping_list

['milk', 'eggs', 'bread', 'butter', 'cheese']

In [ ]:
shopping_list.pop()

'cheese'

In [ ]:
shopping_list.append("cheese")

In [ ]:
shopping_list.insert(2, "mushroom")

In [ ]:
shopping_list

['milk', 'eggs', 'mushroom', 'bread', 'butter', 'cheese']

In [ ]:
shopping_list.count("milk")

1

In [ ]:
## list + list
(["item1", "item2"] + ["item3", "item4"]) * 2

['item1', 'item2', 'item3', 'item4', 'item1', 'item2', 'item3', 'item4']

In [ ]:
shopping = shopping_list

In [ ]:
## loop through shopping list
for item in shopping:
    if len(item) < 6:
        continue ## skip that item
    else:
        print("I need to buy " +item)

I need to buy mushroom
I need to buy butter
I need to buy cheese

In [ ]:
## average revenue per user (ARPU)
spending = [500, 1200, 800, 300, 900]
for spend in spending:
    if spend >= 900:
        print("High spender")
    else:
        print("Low spender")

Low spender
High spender
Low spender
Low spender
High spender

In [ ]:
## list comprehension
scores = [80, 90, 75, 60, 59, 82]
for score in scores:
    if score >= 80:
        print(score, "Pass")
    else:
        print(score, "Fail")

80 Pass
90 Pass
75 Fail
60 Fail
59 Fail
82 Pass

In [ ]:
## example
scores = [80, 90, 75, 60, 59, 82]
new_scores = [score+5 for score in scores]
print(new_scores)

[85, 95, 80, 65, 64, 87]

In [ ]:
grades = ["P" if score >= 80 else "F"
          for score in scores]
print(grades)

['P', 'P', 'F', 'F', 'F', 'P']

In [ ]:
## tuple, ordered, immutable
## tuple unpacking
beam, kat = 27, 28
print(beam, kat)

27 28

In [ ]:
names = ("beam", "kat", "john", "toy")
names

('beam', 'kat', 'john', 'toy')

In [ ]:
name[2]

'john'

In [ ]:
name.index("beam")

0

In [ ]:
for name in names:
    print(f"Hello! {name.capitalize()}")

Hello! Beam
Hello! Kat
Hello! John
Hello! Toy

In [ ]:
## recap list
complex_list = [
    25, "Star Wars",
    [1,2,3,4,5],
    ("Hello", "Ni hao", "Sawasdee")
]

In [ ]:
complex_list[3][2]

'Sawasdee'

In [ ]:
## Dictionary is unordered, mutable
## key-value pair similar to JSON
customer_01 = {
    "name": "beam",
    "age": 27,
    "address": "Bangkok",
    "fav_movie": ["Star Wars", "Harry Potter"]
}

customer_01["fav_movie"][0]

'Star Wars'

In [ ]:
## Dictionary method
list(customer_01.keys())

['name', 'age', 'address', 'fav_movie']

In [ ]:
## Key is immutable
{0: "beam", 1: "kat"}

{0: 'beam', 1: 'kat'}

In [ ]:
customer_01.values()

dict_values(['beam', 27, 'Bangkok', ['Star Wars', 'Harry Potter']])

In [ ]:
for item in list(customer_01.items()):
    print(item[1])

beam
27
Bangkok
['Star Wars', 'Harry Potter']

In [ ]:
## create new key
customer_01["fav_color"] = "red"
customer_01

{'name': 'beam',
 'age': 27,
 'address': 'Bangkok',
 'fav_movie': ['Star Wars', 'Harry Potter'],
 'fav_color': 'red'}

In [ ]:
## delete key
del customer_01["fav_color"]
customer_01

{'name': 'beam',
 'age': 27,
 'address': 'Bangkok',
 'fav_movie': ['Star Wars', 'Harry Potter']}

In [ ]:
customer_01["fav_food"] = ["sushi", "udon", "sashimi"]

In [ ]:
customer_01

{'name': 'beam',
 'age': 27,
 'address': 'Bangkok',
 'fav_movie': ['Star Wars', 'Harry Potter'],
 'fav_food': ['sushi', 'udon', 'sashimi']}

In [ ]:
## update value
customer_01["name"] = "kat"
customer_01

{'name': 'kat',
 'age': 27,
 'address': 'Bangkok',
 'fav_movie': ['Star Wars', 'Harry Potter'],
 'fav_food': ['sushi', 'udon', 'sashimi']}

In [ ]:
## the last data structure: set
## set is used to find unique/distinct value
set(["orange", "orange", "banana"])

{'banana', 'orange'}

In [ ]:
## set operation

mary = {"orange", "apple"}
beam = {"apple", "banana"}

## union
mary | beam

## intersection
mary & beam

## difference
mary - beam

{'orange'}

## **Function**

User defined function

In [ ]:
def hello(index):
    print(f"Hello {friends[index]}")

In [ ]:
hello(2)

Hello Mek

In [ ]:
def hello_2(name="beam"):
    print("Hello! "  +name.capitalize())

In [ ]:
hello_2()

Hello! Beam

In [ ]:
## get input from user
def greeting():
    username = input("Enter your name: ")
    result = f"Hello! {username}"
    print(result)
    action = input("What are you going to do today?")
    print(f"You're going to {action}. That's great!")

In [ ]:
greeting()

Enter your name: beam
Hello! beam
What are you going to do today?swimming
You're going to swimming. That's great!

In [ ]:
## function can have more than one parameter
def cube(base=2, power=3):
    return base ** power

In [ ]:
cube(1.06,30)

5.7434911729132585

In [ ]:
## lambda
cube_lambda = lambda base, power: base ** power
cube_lambda(2,3)

# It is used to shorten defined function

8

## **Control Flow**

1. if
2. for
3. while

In [ ]:
def grading(score):
    """
    Input: score is a numeric data
    Output: grade passed or failed
    """
    if score >= 80:
        return "Passed"
    else:
        return "Failed"

In [ ]:
## multiple if else
## we use 'elif' for python and 'else if' in R
def full_grading(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    elif score >= 50:
        return "Retry the exam again."

In [ ]:
full_grading(64)

'C'

In [ ]:
# if multiple conditions
# morning weekday => cereal
# morning weekend => hamburger
# else => fastng

time = "morning"
day = "weekend"
if time == "morning" and day == "weekday":
    print("I'm eating cereal.")
elif time == "morning" and day == "weekend":
    print("I'm eating hamburger.")
else:
    print("No eating, I'm fasting.")

I'm eating hamburger.

In [ ]:
## recap for

for item in ["orange", "apple", "banana", "date"]:
    if len(item) > 5:
        print(item)

orange
banana

In [ ]:
## while loop

count = 0

while count < 5:
    print("Hello World")
    count += 1 # or count = count + 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
from random import choice

def pao_ying_chub():
    hands = {1: "scissor", 2: "rock", 3: "paper"}
    my_hand = choice(list(hands.values()))
    print("Let's play a game!")
    print("Choose your hand:")
    print("1 = scissor, 2 = rock, 3 = paper")

    try:
        user_choice = int(input("Enter the number corresponding to your hand: "))
        if user_choice not in hands:
            print("Invalid input. Please choose a number between 1 and 3.")
            return pao_ying_chub()
    except ValueError:
        print("Invalid input. Please enter a number.")
        return pao_ying_chub()

    user_hand = hands[user_choice]
    print(f"My hand is {my_hand} and your hand is {user_hand}")

    if my_hand == user_hand:
        print("Draw")
    elif (my_hand == "rock" and user_hand == "scissor") or \
         (my_hand == "paper" and user_hand == "rock") or \
         (my_hand == "scissor" and user_hand == "paper"):
        print("You lose")
    else:
        print("You win")

    play_again = input("Wanna play again? (yes/no): ").lower()
    if play_again in ["yes", "y"]:
        pao_ying_chub()
    else:
        print("Thanks for playing!")

In [ ]:
pao_ying_chub()

Let's play a game!
Choose your hand:
1 = scissor, 2 = rock, 3 = paper
Enter the number corresponding to your hand: 4
Invalid input. Please choose a number between 1 and 3.
Let's play a game!
Choose your hand:
1 = scissor, 2 = rock, 3 = paper
Enter the number corresponding to your hand: 1
My hand is paper and your hand is scissor
You win
Wanna play again? (yes/no): y
Let's play a game!
Choose your hand:
1 = scissor, 2 = rock, 3 = paper
Enter the number corresponding to your hand: 1
My hand is paper and your hand is scissor
You win
Wanna play again? (yes/no): n
Thanks for playing!